.navbar {
  border-top: 5px solid #806c59;
  background-color: #ccae8f;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: -40px;
  right: 0;
}

.navbar-row {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 8vh;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
}

.navbar-icon {
  color: #806c59;
}

.home-button:hover {
  background-color: gray;
}

.bookmark-button:hover {
  background-color: gray;
}

.profile-button:hover {
  background-color: gray;
}

.form-button:hover {
  background-color: gray;
}

@media (min-width: 900px) {
  .navbar-row {
    min-height: 6vh;
  }
}
