/* auf desktop optimiert  */

.navbar {
  border-top: 5px solid #806c59;
  background-color: #ccae8f;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: -40px;
  right: 0;
}

.navbar-row {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 8vh;
}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33.5%;
}

.bookmark-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33.5%;
}

.navbar-buttons {
  color: #806c59;
}

.home-button:hover {
  background-color: gray;
}

.bookmark-button:hover {
  background-color: gray;
}

.profile-button:hover {
  background-color: gray;
}
